h5 Talk abstract

p Event-based APIs are becoming more popular, enabling developers to craft new integrations and solutions that go beyond the original design of an API. Yet, there remains a challenge: how can teams design thoughtful event-based APIs that are long-lasting, evolvable, and discoverable? This talk will dive into the design practices of event-based APIs and anti-patterns should we avoid.

h5 Bio

p James Higginbotham is an API and microservice architecture consultant with over 20 years of experience in developing and deploying apps and APIs. He provides API strategy, design and microservice architecture guidance to enterprise IT and organizations undergoing digital transformation.