span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/james-higginbotham.jpg' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 03:55 pm to 04:25 pm (UTC)
        span.schedule-classic-title.heading-4 Event-Based API Patterns and Practices
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name James Higginbotham
          =" "
          | -  API Architect at LaunchAny