span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/fran-mendez.jpg' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 04:40 pm to 05:10 pm (UTC)
        span.schedule-classic-title.heading-4 To be announced
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Fran Mendez
          =" "
          | -  Founder at AsyncAPI Initiative