h5 Talk abstract

p In this talk, Fran will tell us about the early days of AsyncAPI, how it all started, and will also offer his insights and plans for the near future. Exciting announcements ahead, don't miss it!

h5 Bio

p Fran is the founder of the <a href="https://www.asyncapi.com" style="display: inline;" target="_blank">AsyncAPI Initiative</a>. He’s a software engineer with a strong focus on event-driven APIs and microservices. In his spare time, he enjoys playing beach volleyball, kayaking, and stand-up paddle surf.
