[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOW-FROM https://www.youtube.com/"

[build]
  command = "npm run build"

[build.environment]
  NODE_VERSION = "16.13.2"
  NPM_VERSION = "8.1.2"