mixin schedule-classic-simple()
  .schedule-classic.schedule-classic-simple&attributes( attributes )
    .schedule-classic-content
      .schedule-classic-img: +svg-icon('clock')(class='svg-icon-md svg-icon-primary')
      span.schedule-classic-time 01:00 pm to 01:30 pm
      span.schedule-classic-title.heading-4 Enjoy the coffee/beer break