h5 Talk abstract

p With my background in SDK generation from APIMatic, I want to talk about the importance of introducing code generation early into your event-driven API pipelines. Doing that will allow you to introduce consistency internally and externally, improve your speed of development and ensure conforming to the specification. Design first. Generate SDKs. Consume them to develop and test. Automate this process.

h5 Bio

p Nauman is a former Head of Product at APIMatic, with vast experience and expertise in developer experience of APIs. He has spoken at conferences across the world, evangelising about the advantages of automation in the API Lifecycle led by machine readable specifications. He is currently working as an independent API expert working with API companies on their strategy. If you want to talk about APIs, IPAS, spicy food or any type of sports, find him at <a href="https://www.linkedin.com/in/nauman-ali" target="_blank" style="display: inline;">https://www.linkedin.com/in/nauman-ali</a>