mixin schedule-classic-simple()
  .schedule-classic.schedule-classic-simple&attributes( attributes )
    .schedule-classic-content
      .schedule-classic-img: +svg-icon('clock')(class='svg-icon-md svg-icon-primary')
      span.schedule-classic-time 11:00 am to 12:00 pm
      span.schedule-classic-title.heading-4 Enjoy the coffee break