h5 Talk abstract

p In our distributed Cloud Native world, loosely coupled services are a central architectural design point, and along with those comes the events that flow between them. Now, add in the dynamic nature of extending these systems with new components and the need to have middleware that can manage, process and route those events efficiently (without needing to understand the business logic within the events, or even who sent the events) will be critical.
p The <a href="https://github.com/cloudevents/spec" target="_blank" style="display: inline;">CNCF CloudEvents project</a> has introduced a specification to help solve this problem by introducing a way to standardize key bits of metadata in the events without forcing people to adopt a ""one-size-fits-all"" common event format. Come see why this simple little specification has managed to bring every major Cloud provider together to solve these concerns.

h5 Bio

p Doug works in IBM's Hybrid Cloud division. He's been working on Cloud related technologies for many years and has worked on many of the most popular OSS projects, including OpenStack, CloudFoundry, Docker, Kubernetes and Knative. He's currently the PM for Knative, co-chairing the CNCF's Serverless WG and the Cloud Events project.