span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/doug-davis.jpg' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 02:10 pm to 02:40 pm (UTC)
        span.schedule-classic-title.heading-4 CloudEvents - A First Step Towards Serverless Interop
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Doug Davis
          =" "
          | -  PM Knative at IBM