h5 Talk abstract

p A long standing gap has been filled! The AsyncAPI specification has risen as the industry standard for defining asynchronous APIs and is being incorporated into several products to enable a better tomorrow for Event-Driven Architecture (EDA). In this talk you will learn how AsyncAPI has been adopted by the Solace PubSub+ Event Portal to provide full lifecycle management of your EDA. I will focus on how you can use the tool to design your architecture and demonstrate how to use the AsyncAPI’s Code Generators to quickly develop a Spring Cloud Stream microservice.

h5 Bio

p Marc is a Developer Advocate with extensive engineering experience in the public and private sector across multiple domains including healthcare, aviation and weather imagery processing. He has been using event-driven techniques and methodologies throughout his career and is excited by its elevation to the mainstream. Marc works with prospective and existing clients to enable the development of modern and reactive applications.