span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/marc-dipasquale.jpg' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 03:20 pm to 03:50 pm (UTC)
        span.schedule-classic-title.heading-4 From Design to Code using AsyncAPI
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Marc DiPasquale
          =" "
          | -  Developer Advocate at Solace