// Variables

// Color system
// Gray colors
$white:    #ffffff;
$gray-100: #f4f2ee; // used
$gray-200: #f8f7f4; // used
$gray-300: #cccccc;
$gray-400: #b2b2c5; // used
$gray-500: #8b8b9a; // used
$gray-600: #8c8c9a; // used
$gray-700: #2c343b;
$gray-800: #151515;
$gray-900: #15162b; // used
$black:    #000000;

$gray-1:  #f3f3f5; // used

$martinique: #26264b; // used
$ebony-clay: #26263e; // used

// Body
$body-bg:    $white;
$body-color: $gray-500; // used

$theme-colors: ();

// Accent colors
$primary:          #d90e90; // used
$secondary:        #f09922; // used
$secondary-darker: #ef7630; // used
$pumpkin:          #ff750f; // used
$purple-heart:     #822ea8; // used
$dodger-blue:      #518dfb; // used

$danger-color:  #f5543f;
$success-color: #54C654;

// Additional colors
$facebook:        #2852bb;
$facebook-light:  #748abc;
$facebook-darken: darken($facebook, 5%);

$twitter:        #46a4e6;
$twitter-light:  #81cbdb;
$twitter-darken: darken($twitter, 5%);

$google:        #e83535;
$google-light:  #de7272;
$google-darken: darken($google, 5%);

// Page
$page-boxed-width:            1600px;
$page-boxed-background-color: $gray-100;
$page-boxed-background-image: url(../images/bg-pattern-boxed.png);

// Components
// Define common padding and border radius sizes and more.
$border-width: 1px;

$border-radius:    0;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

$transition-base: all .3s ease-in-out;

// Map
$map-height:    200px;
$map-xs-height: 250px;
$map-md-height: 450px;

// Custom
$shadow-area-1: -3px 0px 50px -2px rgba($black, .09);
$shadow-area-2: 1px 1px 10px 0 rgba($black, .2);
$shadow-area-3: 0 0 30px 0 rgba($black, .10);

// Fonts
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:   "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; // use
$font-family-sans-serif-1: "Barlow Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:        "Roboto Slab", "Times New Roman", Times, serif;
$font-family-monospace:    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-sans-serif;
$font-family-sec:  $font-family-sans-serif-1;

$font-weight-bold: 700;

// Base fonts
$font-size-body: 16px; // used
$font-size-lg:   18px;
$font-size-sm:   14px;

$_lh-base: 28px; // used
$_lh-lg:   36px;
$_lh-sm:   18px;

$font-weight-base: 500; // used

// ** < Calculated font values >
$line-height-base: ($_lh-base / $font-size-body);
$line-height-lg:   ($_lh-lg / $font-size-lg);
$line-height-sm:   ($_lh-sm / $font-size-sm);
// ** </ Calculated font values >

// Headings
$headings-font-family: $font-family-sec; // used
$headings-font-weight: 700; // used
$headings-line-height: 1.2; // used
$headings-color:       $martinique;

// Template Heading Values
$_h1-fsz: 100; // used
$_h2-fsz: 70; // used
$_h3-fsz: 60; // used
$_h4-fsz: 30; // used
$_h5-fsz: 20; // used
$_h6-fsz: 16;

$_h1-lh: 130; // used
$_h2-lh: $_h2-fsz * 1.2; // used
$_h3-lh: $_h3-fsz * 1.2; // used
$_h4-lh: $_h4-fsz * 1.2; // used
$_h5-lh: 26; // used
$_h6-lh: $_h6-fsz * 1.2; // used

// ** < Calculated Headings values >
$h1-font-size: $_h1-fsz * 1px;
$h2-font-size: $_h2-fsz * 1px;
$h3-font-size: $_h3-fsz * 1px;
$h4-font-size: $_h4-fsz * 1px;
$h5-font-size: $_h5-fsz * 1px;
$h6-font-size: $_h6-fsz * 1px;

$h1-line-height: ($_h1-lh / $_h1-fsz);
$h2-line-height: ($_h2-lh / $_h2-fsz);
$h3-line-height: ($_h3-lh / $_h3-fsz);
$h4-line-height: ($_h4-lh / $_h4-fsz);
$h5-line-height: ($_h5-lh / $_h5-fsz);
$h6-line-height: ($_h6-lh / $_h6-fsz);
// ** </ Calculated Headings values >

// Icon Fonts
$fa:  'FontAwesome';
$mdi: 'Material Design Icons';
$mi:  'Material Icons';

// Lead
$lead-font-size:   24px;
$lead-line-height: 34px;
$lead-font-weight: 300;

// Hr
$hr-border-color: $gray-100;
$hr-border-width: 2px;

// Mark
$mark-padding: 5px 10px;
$mark-bg:      $primary;

$dt-font-weight:      inherit;
$list-inline-padding: 5px;

// Code
$code-font-size: 90%;
$code-padding-y: 3px;
$code-padding-x: 5px;
$code-color:     $gray-900;
$code-bg:        $gray-100;

//
// Links
//
$link-color:            $martinique; // used
$link-decoration:       none;
$link-hover-color:      $primary; // used
$link-press-color:      $primary; // used
$link-hover-decoration: underline;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
// Custom
$zindex-rd-navbar: 1080;
$zindex-lg: 1090;
$zindex-layout-panel: 1100;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$screen-fullhd: 1600px;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  xs: 480px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-narrow: 20px;
$grid-gutter-width-narrow-xs: 10px;

// Buttons
$input-btn-padding-y: 19px;
$input-btn-padding-x: 39px;
$input-btn-font-size: 18px;
$input-btn-line-height: 1.25;

$input-btn-padding-y-sm: 10px;
$input-btn-padding-x-sm: 30px;
$input-btn-line-height-sm: 1.5;

$input-btn-padding-y-lg: 28px;
$input-btn-padding-x-lg: 49px;
$input-btn-line-height-lg: 1.5;

$btn-font-family: $font-family-sec; // used
$btn-font-weight: 600;
$btn-letter-spacing: 0;
$btn-text-transform: uppercase;

$btn-box-shadow: 0;
$btn-focus-box-shadow: 0;
$btn-active-box-shadow: 0;

$btn-link-disabled-color: $gray-600;

$btn-block-spacing-y: .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition: all .15s ease-in-out;

// Forms
$form-input-height: 78px;
$form-input-lg-height: 90px;
$form-input-sm-height: 50px;

$form-input-color: $gray-600;
$form-input-color-placeholder: $form-input-color;

$form-input-background: $gray-100;
$form-input-border-color: $form-input-background;
$form-input-border-radius: $border-radius;

$form-input-font-size: 18px;
$form-input-line-height: ( 18 * 1.2 );
$form-input-font-weight: 500;

$form-input-border: 1px solid $form-input-border-color;
$form-input-padding-horizontal: 36px;
$form-input-line-height: round($form-input-font-size * 1.7);

$form-input-padding-vertical: round(($form-input-height - $form-input-line-height) / 2) + 1px;
$form-input-padding: $form-input-padding-vertical $form-input-padding-horizontal;

@if ($form-input-border != none) {
  $form-input-padding-vertical: round(($form-input-height - $form-input-line-height - (nth($form-input-border, 1) * 2)) / 2);
  $form-input-padding: $form-input-padding-vertical $form-input-padding-horizontal;
}

$form-textarea-default-height: 272px;
$form-textarea-default-min-height: $form-input-height;
$form-textarea-default-max-height: round($form-textarea-default-height * 1.7);

$form-feedback-focus-color: $primary;
$form-feedback-valid-color: $success-color;
$form-feedback-invalid-color: $danger-color;

// Pagination
$pagination-padding-y: 14px;
$pagination-padding-x: 14px;
$pagination-font-size: 18px;
$pagination-line-height: $pagination-font-size * 1.2;

$pagination-color: $gray-500;
$pagination-bg: $white;
$pagination-border-width: 2px;
$pagination-border-color: $gray-200;

$pagination-hover-color: $white;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;

$pagination-active-color: $white;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;

$pagination-disabled-color: $gray-400;
$pagination-disabled-bg: $gray-200;
$pagination-disabled-border-color: $gray-200;

// Tooltips
$tooltip-max-width: 200px;
$tooltip-color: $white;
$tooltip-bg: $primary;
$tooltip-opacity: 1;
$tooltip-padding-y: 6px;
$tooltip-padding-x: 10px;
$tooltip-margin: 0;

$tooltip-arrow-width: 6px;
$tooltip-arrow-height: 6px;
$tooltip-arrow-color: $tooltip-bg;
