mixin schedule-intro()
  .schedule-classic.schedule-classic-simple&attributes( attributes )
    .schedule-classic-content
      span.schedule-classic-time 11:00 am to 11:05 am (UTC)
      span.schedule-classic-title.heading-4 Welcome!