h5 Talk abstract

p An architects view on the lessons learnt on implementing event based patterns for large insurance & wealth management clients. Taking a look at the pain that can be caused when event driven goes wrong in a stateful world that happens to be supporting a 24 x 7 business environment. Along with the remediation to try ensure the business and ops teams don't want to run you out of town. This is not a product based talk but more a view from the trenches.

h5 Bio

p Paul is an architect with a long career guiding enterprise customer on integration best practice, he clearly remembers when RPC with hand crafted payloads was the height of sophistication way before SOA got all formal and he means RPC not gRPC! 
p Paul is based in Sydney, Australia and has the pleasure of working for MuleSoft in the JAPAC Customer Success Strategy and Architecture team.
