span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/paul-taylor.png' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 11:00 am to 11:40 am (UTC)
        span.schedule-classic-title.heading-4 Unhappy Path & Dealing with Bad Events
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Paul Taylor
          =" "
          | -  Strategic Advisor at Mulesoft