p Ubi est nobilis cobaltum? Domesticus capios ducunt ad demissio. Torquiss favere, tanquam bassus glos. Vae, hippotoxota! Superbus, mirabilis poetas vix aperto de teres, germanus amicitia. Vae. Fortis nixs ducunt ad acipenser. A falsis, musa nobilis gabalium. Cum decor ire, omnes fraticinidaes.
.unit.unit-spacing-xxs
  .unit-left: +svg-icon('earth-globe')(class='svg-icon-sm svg-icon-primary')
  .unit-body
    h5 Where
    p.font-secondary Hall 22, Building 2, New York, United States of America