span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/kin-lane.jpg' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 02:45 pm to 03:15 pm (UTC)
        span.schedule-classic-title.heading-4 OpenAPI, AsyncAPI, Postman Collections, JSON Schema and ALPS All Living In Harmony Using APIs.json
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Kin Lane
          =" "
          | -  Chief Evangelist at Postman