h5 Talk abstract

p To be announced

h5 Bio

p Fran is the founder of the <a href="https://www.asyncapi.com" style="display: inline;" target="_blank">AsyncAPI Initiative</a>. He’s a software engineer with a strong focus on event-driven APIs and microservices. In his spare time, he enjoys playing beach volleyball, kayaking, and stand-up paddle surf.