mixin schedule-outro()
  .schedule-classic.schedule-classic-simple&attributes( attributes )
    .schedule-classic-content
      span.schedule-classic-time 05:50 pm to 06:00 pm (UTC)
      span.schedule-classic-title.heading-4 Closing words