h5 Talk abstract

p Event Modeling is a new approach to designing CQRS + event-sourced systems. It picks up where Event Storming leaves off and creates artifacts for the commands, events and views in the system. These artifacts are produced and consumed asynchronously and thus are an ideal candidate for describing in AsyncAPI. This talk will walk through the Event Modeling approach and show examples of the artifacts as AsyncAPI definitions. More info about Event Modeling can be found at <a href="https://eventmodeling.org" target="_blank" style="display: inline;">https://eventmodeling.org</a>.

h5 Bio

p Linkedin: <a href="https://www.linkedin.com/in/matt-bishop-l3/" target="_blank">https://www.linkedin.com/in/matt-bishop-l3/</a>