span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/matt-bishop.png' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 05:15 pm to 05:45 pm (UTC)
        span.schedule-classic-title.heading-4 Defining Event Modeled systems with AsyncAPI
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Matt Bishop
          =" "
          | -  Principal Architect, API Strategist at AdapTech Group