h5 Talk abstract

p Demonstrating how robust API operations can utilize many different API and schema specifications side by side to describe different dimensions of the API stack, bringing them all together in a single APIs.json index. The talk will be using the Slack API as a working example (<a href="https://apievangelist.com/2019/10/31/a-diverse-api-json-index-example-for-slack/" target="_blank" style="display: inline;">https://apievangelist.com/2019/10/31/a-diverse-api-json-index-example-for-slack/</a>).

h5 Bio

p I am the <a href="https://twitter.com/apievangelist" target="_blank" style="display: inline;">@apievangelist</a>, and the Chief Evangelist for <a href="https://twitter.com/getpostman" target="_blank" style="display: inline;">@getpostman</a>, sharing stories of the API life cycle.