// News & Articles.
section.section.section-lg.bg-default.text-center
  .container
    h6 Our blog posts
    h3 News & Articles.
    .row.row-30
      .col-md-4
        +news({
          img: 'news-01-370x284',
          title: 'Many Important Brands Have Given us Their Trust.',
          text: 'Sed quia conse quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. ',
          author: 'Dan Fisher',
          date: '18 Jan, 2019',
          datetime: '2019-01-18'
        })
      .col-md-4
        +news({
          img: 'news-02-370x284',
          title: 'BUILDING A ROOM DETECTOR FOR HOT DeVICES.',
          text: 'Magnum hippotoxotas ducunt ad triticum. Mori etiam ducunt ad rusticus ratione.',
          author: 'Dan Fisher',
          date: '16 Jan, 2019',
          datetime: '2019-01-16'
        })
      .col-md-4
        +news({
          img: 'news-03-370x284',
          title: 'Let’s become the best sale marketer of the next year.',
          text: 'Albus, lotus cedriums virtualiter pugna de barbatus, regius burgus. Historia regius.',
          author: 'Dan Fisher',
          date: '12 Jan, 2019',
          datetime: '2019-01-12'
        })
