// Section We Have Top Executive And Start Up Here
+parallax({
  img: 'bg-parallax-05-1894x758.jpg',
  innerClass: 'section-lg context-dark text-center'
}).section
  .container
    .row.row-30.justify-content-center
      .col-md-10.col-lg-8
        a.video-link.wow.fadeScale( href='https://youtu.be/nbfFDnKkMvw' data-lightgallery="item" )
          .video-link-bg( data-triangle=".video-link-overlay" )
            span.video-link-overlay
          span.icon.fa-play
        h6.text-secondary.wow( data-splitting ) click here to Watch our promo
        h2.wow( data-splitting ) We Have Top Executive And Start Up Here.