// Section With Counters
section.section.section-md.bg-default.text-center
  .container
    .row.row-30.row-bordered
      .col-6.col-md-3.row-bordered-item
        .wow.fadeInUp(data-wow-delay='.3')
          +counter({
            title: 'Speakers',
            value: 250
          })
      .col-6.col-md-3.row-bordered-item
        .wow.fadeInUp(data-wow-delay='.4')
          +counter({
            title: 'Tickets',
            value: 1473
          })
      .col-6.col-md-3.row-bordered-item
        .wow.fadeInUp(data-wow-delay='.5')
          +counter({
            title: 'Sponsors',
            value: 2347
          })
      .col-6.col-md-3.row-bordered-item
        .wow.fadeInUp(data-wow-delay='.6')
          +counter({
            title: 'Sessions',
            value: 60
          })