h5 Talk abstract

p AsyncAPI community has great culture. Here are 3 ways to influence, equip, and empower your company, product leader or engineering organization to adopt the AsyncAPI spec.

h5 Bio

p Emmelyn is an API Strategist on the Evangelism team at Axway. Her team is part of the Office of the CTIO and works closely with Product and Engineering leadership on the API management and hybrid integration platform. The Evangelism team is also involved in the greater community including building applications and solutions and telling stories that cover the ecosystem and landscape of digital business.