span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/emmelyn-wang.jpg' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 04:30 pm to 04:35 pm (UTC)
        span.schedule-classic-title.heading-4 Simple Ways to Get Your Organization to Adopt AsyncAPI
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Emmelyn A. Wang
          =" "
          | -  API Strategist at Axway