@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Work+Sans:wght@300;400;500;600;700&display=swap');

html,
body {
  background: #1c1234;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth;
}

h4{
font-family: 'Fira Code';
}

p{
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-gradient{
  background: linear-gradient(270deg, rgba(135, 90, 226, 0.7) 0%, rgba(71, 188, 238, 0.7) 100%);
  border: 1px solid #675788;
  backdrop-filter: blur(36px)
}

.speakers-bg{
  background: linear-gradient(0deg, rgba(114, 78, 208, 0.5), rgba(114, 78, 208, 0.5)), linear-gradient(180deg, #390E96 0%, #84CCE2 100%);
  mix-blend-mode: normal;
}

.card-bg {
  background: rgba(36, 30, 49, 0.3);
  backdrop-filter: blur(68px);
}

.slick-slide {
  margin-left: 5px;
  margin-right: 5px;
}
.slick-track {
  display: flex !important;

}
.navbar{
  z-index: 999;
background: rgba(36, 30, 49, 0.5);
backdrop-filter: blur(36px);
}

.container{
  max-width: 1400px;
}

@media(max-width:992px){
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.btn{
  font-family: 'Fira Code';
  transition: ease-in-out .3s;
}
.btn:hover{
  background: linear-gradient(270deg, rgba(135, 90, 226, 0.7) 0%, rgba(71, 188, 238, 0.7) 100%);
  border: 1px solid #675788;
}

.schedule-bg{
position: absolute;
width: 100%;
height: 455px;
background: linear-gradient(180deg, #241E31 35.94%, rgba(36, 30, 49, 0.67) 100%);
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
}

.mobile-headerbg{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: linear-gradient(180deg, #241E31 0%, rgba(36, 30, 49, 0.28) 100%);
transform: rotate(-180deg);
z-index: 3;
}

@media only screen and (max-width: 991px) {
  .reset-height {
    height: auto;
  }
}

.li-gradient:hover {
  border-left: 4px solid;
  border-image: linear-gradient(to bottom, #2DCCFD 0%, #AD20E2 100%)1;
}
