include _config
include _functions
include _mixins

block variables
- main();

doctype html
html( lang='en', class= htmlClass )
  head
    block title
      title= pageName

    meta( charset='utf-8' )
    meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )

    link( rel='icon', href='images/favicon.png', type='image/png' )
    link( rel='stylesheet', type='text/css', href= fonts )
    link( rel='stylesheet', href='css/bootstrap.css' )
    link( rel='stylesheet', href='css/fonts.css' )
    link( rel='stylesheet', href='css/style.css' )

    style .ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}

  body
    .ie-panel
      a( href='http://windows.microsoft.com/en-US/internet-explorer/' )
        img( src='images/ie8-panel/warning_bar_0000_us.jpg', height=42, width=820, alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.' )

    .preloader
      .preloader-body
        .cssload-container: .cssload-speeding-wheel
        p Loading...

    .page
      block page

    #form-output-global.snackbars

    include components/_svg-gradients

    script( src='js/core.min.js' )
    script( src='js/script.js' )


    script( async src='https://www.googletagmanager.com/gtag/js?id=UA-109278936-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109278936-3');


    if( pageName === 'Privacy Policy' )
      //coded by gelbman20
