h5 Talk abstract

p Jukeberry is a basic jukebox powered by a Raspberry Pi and an RFID reader. Isolated, it's a nice gadget but, connected, it's an endless source of creativity, ideas, and fun.
p Let's explore this PoC together, the architecture, the state of the art, and the next steps!

h5 Bio

p Norberto is a Software builder. Along with his career, he performed different roles (developer, architect, manager) at various companies, such as IBM, Mulesoft, and Medallia (among others). Currently CTO at a startup in stealth mode. Father of Tomi and Guille, eternal guitarist wannabe and shower singer.
p
  span Twitter: <a href="https://twitter.com/nohorbee" target="_blank">https://twitter.com/nohorbee</a><br>
  span LinkedIn: <a href="https://ar.linkedin.com/in/norberto-herz-1778875" target="_blank">https://ar.linkedin.com/in/norberto-herz-1778875</a>
