p Fiscina domesticus lixa est. Cur vita mori? Triticum, heuretes, et nixus. Clabulare superbus abaculus est. Est lotus gemna, cesaris. Equisos mori! Uria moris, tanquam dexter cedrium. Hydras ridetis, tanquam bi-color saga. Pol, a bene tumultumque, castus nuptia! Noster, neuter stellas diligenter.
.unit.unit-spacing-xxs
  .unit-left: +svg-icon('earth-globe')(class='svg-icon-sm svg-icon-primary')
  .unit-body
    h5 Where
    p.font-secondary Hall 22, Building 2, New York, United States of America