span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left
      span.schedule-classic-img
        +img( 'schedule-04-58x58' )
      span.schedule-classic-img
        +img( 'schedule-05-58x58' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 11:00 am to 12:00 pm
        span.schedule-classic-title.heading-4 Digital Conference 2019 Introduction
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Kevin Martin
          | 
          | - Supporter&nbsp;&nbsp;
          | .&nbsp;&nbsp;
          =" "
          span.schedule-classic-author-name Sarah Rose
          =" "
          | -  Designer
