span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'speakers/kevin-dunglas.jpg' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 12:05 pm to 12:35 pm (UTC)
        span.schedule-classic-title.heading-4 Building async public APIs using HTTP/2+ and the Mercure protocol
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Kévin Dunglas
          =" "
          | -  CEO at Les-Tilleuls.coop