span.schedule-classic
  span.unit.unit-spacing-md.align-items-center.d-block.d-md-flex
    span.unit-left: span.schedule-classic-img: +img( 'schedule-03-122x122' )
    span.unit-body
      span.schedule-classic-content
        span.schedule-classic-time 11:00 am to 12:00 pm
        span.schedule-classic-title.heading-4 Evolution of user interface in 2019
        span.schedule-classic-author
          | by
          =" "
          span.schedule-classic-author-name Manager
          =" "
          | -  Co Founder