p There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words which don't look even slightly believable. If you are going to use a passage randomised words which don't look even slightly believable.
.unit.unit-spacing-xxs
  .unit-left: +svg-icon('earth-globe')(class='svg-icon-sm svg-icon-primary')
  .unit-body
    h5 Where
    p.font-secondary Hall 22, Building 2, New York, United States of America