h5 Talk abstract

p <a href="https://mercure.rocks" target="_blank" style="display: inline;">Mercure.rocks</a> is a new protocol allowing to push data updates to web browsers and other HTTP clients in a convenient, fast, reliable and battery-efficient way. It is especially useful to publish real-time updates of resources served through web APIs, to reactive web and mobile apps.
p From the ground up, Mercure has been designed to work with technologies not able to maintain persistent connections. It's especially relevant in serverless environments, but is also convenient when using PHP or FastCGI scripts.
p Mercure is basically a higher-level replacement for WebSockets. But unlike WebSockets, it leverages the new capabilities of HTTP/2 and HTTP/3.
p It has been designed with hypermedia APIs in mind, is auto-discoverable through the Web Linking RFC and is also compatible with GraphQL.
p It natively supports authorization, reconnection in case of network issue (with refetching of missed events), subscribing to several topics, topics patterns (using templated URIs)...
p Because it is built on top of Server-sent Events and plain old HTTP requests, it is already compatible with all modern browsers, and requires 0 client-side dependencies.
p The protocol is open (available as an Internet Draft), and a reference open source implementation of the server written in Go is available. Integrations with popular web frameworks are already available!
p During this talk, you'll learn everything you need to get started with the Mercure protocol!

h5 Bio

p Kévin is the founder of <a href="https://les-tilleuls.coop" target="_blank" style="display: inline;">Les-Tilleuls.coop</a>, a worker-owned cooperative, the creator of the API Platform framework, of the <a href="https://mercure.rocks" target="_blank" style="display: inline;">Mercure.rocks</a> and <a href="https://vulcain.rocks" target="_blank" style="display: inline;">Vulcain.rocks</a> protocols and a member of the Symfony Core Team. Kévin is also an international speaker, a lecturer and a book writer.